@import 'variables';
@import 'mixins';

* {
  box-sizing: border-box;
}

body {
  background-color: $page-bg;
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  @include center-element;
  flex-direction: column;
}
