@import 'variables';

//importing Roboto from Googlefonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: $base-font-weight;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: $heading1-size;
  font-family: $heading1-line-height;
}
