//colors
$white: #fff;
$gray: #585563;
$green: #73937E;
$yellow: #FFD600;
$primary: #CEB992;

// page
$page-bg: $gray;

//call-to-action
$cta-primary-bg: $yellow;
$cta-primary-color: $green;

$cta-secondary-bg: $green;
$cta-secondary-color: $yellow;


//weights
$font-height-bold: bold;
$base-font-weight: 400;

//base family and size
$base-font-family: 'Roboto', sans-serif;
$base-font-size: 18px;
$base-line-height: 40px;

//sizes
$heading1-size: 48px;
$heading1-line-height: 56px;

//layput
$container-max-width: 654px;
$container-bg: $white;
